body {
	font-size:16px;
}

.main_header{
	font-size:20px;
	text-align:center;
	background-color:blue;
/*	-webkit-box-shadow: 47px 33px 46px 0px rgba(0,0,0,1);
	-moz-box-shadow: 47px 33px 46px 0px rgba(0,0,0,1);
	box-shadow: 47px 33px 46px 0px rgba(0,0,0,1);*/
}

.profile_boxes,.profile_names{
	margin-left:350px;	
}
.profile_box1,.profile_box2,.profile_box3{
	height:150px;
	width:150px;
	border:10px double blue;
	margin-left:30px;
	padding:20px;
	background-color:black;
	color:blue;
	display:inline-block;
}

.profile_name1,.profile_name2,.profile_name3{
	height:50px;
	width:150px;
	border:10px double blue;
	margin-left:30px;
	margin-top:30px;
	padding:20px;
	background-color:black;
	display:inline-block;
	color:blue;

}
.profile_pics{
	width:150px;
	height:150px;
}