body {
	font-size:16px;
}

.main_header{
	font-size:20px;
	text-align:center;
	background-color:blue;
/*	-webkit-box-shadow: 47px 33px 46px 0px rgba(0,0,0,1);
	-moz-box-shadow: 47px 33px 46px 0px rgba(0,0,0,1);
	box-shadow: 47px 33px 46px 0px rgba(0,0,0,1);*/
}

.box,.button{
	margin-left:350px;	
}
.box1,.box2,.box3{
	height:150px;
	width:150px;
	border:10px double blue;
	margin-right:30px;
	padding:20px;
	background-color:black;
	color:blue;
	display:inline-block;
}

.button1,.button2,.button3{
	height:50px;
	width:150px;
	border:10px double blue;
	margin-right:30px;
	padding:20px;
	background-color:black;
	display:inline-block;
	color:blue;

}