/*body, html{
	background: #c0c0c0;
}
.header{
	display: block;
	color: white;
	background: blue;
	text-align: center;
}*/
/*
img{
	border:2px solid #DDD;
	float: left;
}*/
img {
	height:150px;
	width:150px;
	border:5px solid #d3d3d3;
	margin:0px auto;
	padding:20px;
	background-color:#f2f1ef;
	color:blue;
	display:inline-block;
	float: left;

	/*generated shadow*/
	-webkit-box-shadow: 18px 19px 35px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 18px 19px 35px 0px rgba(0,0,0,0.2);
	box-shadow: 18px 19px 35px 0px rgba(0,0,0,0.2);
}

/*.media-body{
	float: right;
	width: 60%;
}*/

.media-body {
	border:5px solid #d3d3d3;
	background-color:#f2f1ef;
	display:inline-block;
	color:blue;
	padding: 5px;

	/*generated shadow*/
	-webkit-box-shadow: 18px 19px 35px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 18px 19px 35px 0px rgba(0,0,0,0.2);
	box-shadow: 18px 19px 35px 0px rgba(0,0,0,0.2);
}
.button{
	clear: both;
	float: right;
}
h2, h4, h5, p {
	color: #303030;
}
h2, h4{
	display: block;
	margin: 0;
}
h2{
	padding-bottom: 5px;
}
h4{
	font-size: 24px;
}
h5{
	display: inline-block;
	float: left;	
	margin: 0;
	font-size: 22px;
	padding-right: 5px;
}
.bio{
	
	clear: both;
}
h5, p{
	vertical-align: middle;
}
p{
	padding-top: 3px;
}
a, a:hover{
	text-decoration: none;
	color: blue;
}
a:hover{
	color: #303030;
}
.button{
	background: gray;
	padding: 10px 20px;
	text-decoration: none;
	color: white;
	clear: both;
}
.button:hover{
	background-color: #4183d7;
}