body, html{
	background: #c0c0c0;
}
.header{
	display: block;
	color: white;
	background: blue;
	text-align: center;
}
img{
	border:2px solid #DDD;
	float: left;
}
.media-body{
	float: right;
	width: 60%;
}
.button{
	clear: both;
	float: right;
}
h2, h4{
	display: block;
	margin: 0;
}
h2{
	padding-bottom: 5px;
}
h4{
	font-size: 20px;
}
h5{
	display: inline-block;
	float: left;	
	margin: 0;
	font-size: 18px;
	padding-right: 5px;
}
.bio{
	
	clear: both;
}
h5, p{
	vertical-align: middle;
}
p{
	padding-top: 3px;
}
a{
	text-decoration: none;
}
.button{
	background: gray;
	padding: 5px 15px;
	border-radius: 5px;
	text-decoration: none;
	color: white;
}
.button:hover{
	background: blue;
	padding: 5px 15px;
	border-radius: 15px;
	text-decoration: none;
	color: yellow;
}